.blockButtonCreateCourse{
    margin: 2ex auto;
    width: max-content;
}

.buttonCreateCourse {
    background-color: #3498db;
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;

    &:hover {
        background-color: #2980b9;
    }
}

.homePageWrraper{
    display: flex;
    flex-wrap: nowrap;
}

.main{
    background-color: #f8f8f8;
    width: 85%;

    .groupsBlock{
        display: flex;
        gap: 2em;
        flex-wrap: wrap;
    }

    .studentsBlock{
        margin: 1em auto;
    }
}

.sidebar{
    background-color: #f1efef;
    padding: 10px 5px;
    width: 15%;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    div{
        cursor: pointer;
        text-align: center;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 5px;

        &:hover{
            background-color: #ccc;
        }
    }


}